.benefit-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 0;
}

.benefit-section h1 {
  font-size: 60px;
}

.b-left {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.b-right {
  display: grid;
  grid-template-columns: auto auto;
  width: 40%;
  padding: 0;
  gap: 30px;
}

.b-right div {
  padding: 0;
}

.b-card {
  background: #a2a2a22e;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: 1px solid transparent;
  width: 500px;
  height: 70px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.b-card:hover {
  border-color: #0a2666;
  background-color: #94b1f5;
}

.card-headline {
  font-weight: bold;
}

.img-box {
  position: relative;
  gap: 20px;
}

.img-box img {
  width: 90%;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.img-box p {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}