.benefit-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
  padding: 80px 0px;
}

.benefit-section h1 {
  font-size: 60px;
}

.b-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  flex-direction: column;
  gap: 20px;
}

.b-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 55%;
  padding: 0;
  gap: 30px;
}

.b-right div {
  padding: 0;
}

.b-card {
  background: #a2a2a22e;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: 1px solid transparent;
  width: 500px;
  height: 70px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.b-card:hover {
  border-color: #0a2666;
  background-color: #94b1f5;
}

.card-headline {
  font-weight: bold;
}

.img-box {
  position: relative;
  gap: 20px;
}

.img-box img {
  width: 90%;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.img-box p {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 600px) {
  .benefit-section {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .benefit-section h1 {
    font-size: 38px;
  }

  .b-left {
    width: 90%;
  }

  .b-card {
    max-width: 300px;
    font-size: 14px;
  }

  .card-headline {
    font-size: 14px;
  }

  .b-right {
    gap: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img-box {
    max-width: 180px;
  }

  .img-box img {
  width: 210px;
  height: 150px;
  border-radius: 12px;
  object-fit: cover;
}
}