.course {
    width: 100%;
    background: linear-gradient(90deg, #000000, #0b0b0b);
    color: #ffffff;
    padding: 80px 0px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.course-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 80px;
    gap: 25px;
}

.course-left h1 {
    font-size: 60px;
}

.button {
    width: fit-content;
    padding: 12px 25px;
    background-color: #2567ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.course-right {
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* 
.course-right::-webkit-scrollbar {
  display: none;
} */

.course-card {
    min-width: 280px;
    height: 180px;
    border-radius: 16px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    position: relative;
}

.course-card img {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.course-card.purple {
    background: linear-gradient(180deg, #7b3fe4, #5326b8);
}

.course-card.pink {
    background: linear-gradient(180deg, #ff4d8d, #c51c5a);
}

.course-card.blue {
    background: linear-gradient(180deg, #3b82f6, #1e40af);
}

.course-card h4 {
    font-size: 14px;
    font-weight: 600;
}

.course-card p {
    font-size: 15px;
    font-weight: 500;
}

@media (max-width: 600px){
    .course{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
    }

    .course-right{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

    }

    .course-left{
        width: 80%;
        padding: 0;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .course-left p{
        font-size: 14px;
    }

    .course-left h1{
        font-size: 38px;
    }

    .course-card{
        max-width: 200px;
        max-height: 150px;
    }
}