.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #0c0c0c;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1b1b1b;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
}

.footer-link-tab {
    display: inline-block;
    text-decoration: none;
}

.footer-link-tab:hover {
    background-color: #2567ff;
}

.f-section {
    padding: 20px;
    gap: 8%;
}

.rf-section, .rf-section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
}

.no4 {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.s-box {
    background-color: #191919;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.s-box img {
    width: 20px;
    height: 20px;
}

@media (max-width: 600px) {
    .footer {
        width: 100%;
        display: flex;
        font-size: 14px;
    }

    .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .rf-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .rf-section1{
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .s-box{
        width: 20px;
        height: 20px;
    }

    .s-box img{
        width: 15px;
        height: 15px;
    }


}