.logo-section {
    background-color: #0c0c0c;
    padding: 10px 0;
}

.logos-external {
    overflow: hidden;
    display: flex;

}

.logo-section h2 {
    font-weight: bold;
}

.logos-wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
}

.logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.logo-item img {
    width: 120px;
    height: auto;
    object-fit: contain;
    opacity: 0.8;
}

.logo-item1 img {
    width: 90px;
    height: auto;
    object-fit: contain;
    opacity: 0.8;
}

.logo-item2 img {
    width: 150px;
    height: auto;
    object-fit: contain;
    opacity: 0.8;
}

.logo-item:hover img {
    transform: scale(1.2);
    opacity: 1;
}

.slower {
    animation: scroll-left 205s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scroll-info {
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
    color: #ffffff;
}