.package-section {
    width: 100%;
    background-color: #f2f2f2;
    color: #000000;
    padding: 80px 0px;
    display: flex;
    flex-direction: row;
}

.p-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 80px;
}

.p-left h1 {
    font-size: 60px;
}

.p-left button {
    width: fit-content;
    padding: 13px 28px;
    border-radius: 8px;
    background-color: #2567ff;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.p-right {
    width: 55%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

}

.package-basic,
.package-pro {
    max-height: fit-content;
    width: 30%;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.package-basic {
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.package-pro {
    background-color: #2567ff;
    color: #ffffff;
}

.p-check-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.p-check-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.p-check-list img {
    width: 18px;
    height: 18px;
}

@media (max-width:1100px) {
    .p-left h1{
        font-size: 42px;
    }
}

@media (max-width: 720px) {
    .package-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 30px 0px;
    }

    .p-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .p-left h1{
        font-size: 38px;
    }

    .p-left button{
        padding: 10px 10px;
        font-size: 14px;
    }

    .p-right {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding-top: 0px;
        gap: 10px;
    }

    .package-basic, .package-pro{
        font-size: 14px;
        padding: 10px 70px;
        width: 20%;
    }
}